@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
*{ box-sizing: border-box !important}
body{
  font-family: 'Signika', sans-serif!important;font-size: 16px !important;color: #666666 !important;margin: 0 !important;  
}
.container{ width: 1140px !important; margin: auto !important}
.img-100{ width: 100% !important; height: auto !important}
.img-circle{ border-radius: 50% !important}
.row{ display: flex !important; flex-wrap: wrap !important}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  padding: 15px !important;
  /*border: 1px solid red;*/
}
.py-50{ padding: 50px}
.p-0{ padding: 0} .p-3{padding: 15px}
.mt-0{ margin-top: 0}.my-10{margin: 10px 0 !important} .mb-10{margin-bottom: 10px !important}
.my-30{ margin-top: 30px; margin-bottom: 30px}
.mx-auto { margin-left: auto !important; margin-right: auto !important}
.text-right{ text-align: right !important} 
.text-center { text-align: center !important}
.d-flex{ display: flex !important}
.d-block{ display:block !important}
.d-none{ display: none !important}
.justify-center{ justify-content: center !important}
.justify-between{ justify-content: space-between !important}
.justify-around{ justify-content: space-around !important}
.flex-row-reverse{flex-direction: row-reverse !important}
.align-item-center{align-items: center !important}
.text-white{ color: #fff !important}
.btn-fill-primary
{
    background-color:#F87503;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
     border: 2px solid #F87503;
    transition: all .5s
}
.btn-fill-primary:hover{
     background-color:#Ff0;
    color: #333
}
.btn-outline-primary
{
    border: 2px solid #F87503;
    background: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
     transition: all .5s
}
.btn-outline-primary:hover{
     background-color:#F87503;
    color: #333
}
